html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: @secondary-color;
}
.container {
        max-width: 100%;
    }
    
    // Styling header and Navbar
    .myHeader {
        background-color: @main-color;
        border-bottom: 2px solid @accent-color;
        
        h1 {
            text-align: center;
        }
        .navbar {
            ul {
                margin:0;
                padding:0;
                
                a{
                    color:black;
                    margin: 0 10px;
                }
            }
        }
    }

